/* Загальні стилі для всіх типів повідомлень */
.alert {
  font-size: 24px;
  font-weight: 500;
}

/* Специфічні стилі для кожного типу */
.success {
  color: green;
}

.warning {
  color: orange;
}

.error {
  color: red;
}